<div class="read-more" style>
   <div class="div-line" style="width:100%; height:1px; background-color:#DDDDDD"></div>
   {{#next_post}}
   <div class="read-more-item read-more-item-left">
       <span class="read-more-item-dim">上一篇文章</span>
       <h2 class="post-list__post-title post-title"><a href="{{url}}" title="link to {{{title}}}">{{{title}}}</a></h2>
       <p class="excerpt">{{excerpt characters="100"}}&hellip;</p>
       <div class="post-list__meta"><time datetime="{{date format="DD MMM YYYY"}}" class="post-list__meta--date date">{{date format="DD MMM YYYY"}}</time> &#8226; <span class="post-list__meta--tags tags">{{tags prefix="于 "}}</span></div>
   </div>
   {{/next_post}}
   
   {{#prev_post}}
   <div class="read-more-item read-more-item-right">
       <span class="read-more-item-dim">下一篇文章</span>
       <h2 class="post-list__post-title post-title"><a href="{{url}}" title="link to {{{title}}}">{{{title}}}</a></h2>
       <p class="excerpt">{{excerpt characters="100"}}&hellip;</p>
       <div class="post-list__meta"><time datetime="{{date format="DD MMM YYYY"}}" class="post-list__meta--date date">{{date format="DD MMM YYYY"}}</time> &#8226; <span class="post-list__meta--tags tags">{{tags prefix="于 "}}</span></div>
   </div>
   {{/prev_post}}
</div>
